pipeline/OnPremtoDataLake.json
{
	"name": "OnPremtoDataLake",
	"properties": {
		"activities": [
			{
				"name": "GetSchemasAndTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\n\tOBJECT_SCHEMA_NAME(object_id) as SchemaName,\n\tOBJECT_NAME(object_id) as TableName\nFROM \n\tsys.tables\nWHERE\n\tis_ms_shipped = 0",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "WWI",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "  ",
							"TableName": "  "
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LoopSchemasAndTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSchemasAndTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSchemasAndTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "WWIToDataLake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "WWI",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "RawWWI",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"Container": "raw"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-09-05T10:26:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}